.pin-photo > div > img {
  display: inline-block;
  width: 100%;
  margin: 0 0 1em;
  border-radius: 10px;
  cursor: zoom-in;
  z-index: -2;
}

.pin-photo > img:hover {
  filter: brightness(0.7);
  z-index: -1;
  display: initial;
}

.square {
  width: 200px;
  height: 200px;
  background: teal;
  border-radius: 8px;
  opacity: 0;
  transform: scale(1.2);
}

@media (prefers-reduced-motion: no-preference) {
  .square {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
}

.square-transition {
  opacity: 1;
  transform: none;
}

.img-responsive {
  opacity: 0;
}

.appear {
  opacity: 1;
  transition: opacity 1000ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
