@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1.5em;
      column-count: 1;
      width: 90%;
      margin: 50px auto;
    }
    .masonry-sm {
      column-gap: 1.5em;
      column-count: 2;
      width: 90%;
      margin: 50px auto;
    }
    .masonry-md {
      column-gap: 1.5em;
      column-count: 3;
      width: 90%;
      margin: 50px auto;
    }
    .masonry-lg {
      column-gap: 1.5em;
      column-count: 5;
      width: 90%;
      margin: 50px auto;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  background: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contactView {
  height: 100vh;
  background: linear-gradient(
      to top,
      black 0%,
      rgba(0, 0, 0, 0.738) 19%,
      rgba(0, 0, 0, 0.541) 34%,
      rgba(0, 0, 0, 0.382) 47%,
      rgba(0, 0, 0, 0.278) 56.5%,
      rgba(0, 0, 0, 0.194) 65%,
      rgba(0, 0, 0, 0.126) 73%,
      rgba(0, 0, 0, 0.075) 80.2%,
      rgba(0, 0, 0, 0.042) 86.1%,
      rgba(0, 0, 0, 0.021) 91%,
      rgba(0, 0, 0, 0.008) 95.2%,
      rgba(0, 0, 0, 0.002) 98.2%,
      transparent 100%
    ),
    url("../images/bg.jpg");
  background-fit: cover;
  background-size: cover;
  background-position: center center;
}

.hidden-view {
  @apply mt-[20vh] bg-black flex justify-center;
}

.hidden-view > .items {
  @apply flex flex-col sm:flex-row gap-6;
}

.hidden-view > .items > .info {
  @apply flex flex-col justify-between p-8;
}

a.download {
  @apply text-center mt-6 bg-white rounded-md p-3 text-black;
}
.hidden-view > .items > .image > img {
  @apply rounded-md shadow-md;
}

.hidden-view > .items > .image {
  width: 40vh;
}
