.portfolio-container {
  @apply h-full w-full absolute bg-black flex items-center justify-center;
}
@media (max-width: 465px) {
  .portfolio-container {
    height: auto;
    margin-top: 52px;
  }
}

.portfolio {
  @apply grid grid-cols-2 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5;
}

@media (max-width: 770px) {
  .portfolio {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 460px) {
  .portfolio {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.item {
  @apply h-80 w-52 rounded-md;
  background: linear-gradient(
      to top,
      black 0%,
      rgba(0, 0, 0, 0.738) 19%,
      rgba(0, 0, 0, 0.541) 34%,
      rgba(0, 0, 0, 0.382) 47%,
      rgba(0, 0, 0, 0.278) 56.5%,
      rgba(0, 0, 0, 0.194) 65%,
      rgba(0, 0, 0, 0.126) 73%,
      rgba(0, 0, 0, 0.075) 80.2%,
      rgba(0, 0, 0, 0.042) 86.1%,
      rgba(0, 0, 0, 0.021) 91%,
      rgba(0, 0, 0, 0.008) 95.2%,
      rgba(0, 0, 0, 0.002) 98.2%,
      transparent 100%
    ),
    blue;

  margin-top: 60px;
}

.item:nth-child(2n) {
  margin-top: 0px;
}

.item:hover {
  background-color: red;
  transition: all 250ms ease-in-out;
}
